<div
  class="bg-slate-100 flex items-center justify-center min-h-screen min-w-screen overflow-hidden">
  <div class="flex flex-col items-center justify-center">
    <div class="gradient-border p-1">
      <div class="w-full p-16">
        <div class="text-center mb-4">
          <div class="text-3xl font-medium uppercase">Đăng nhập</div>
        </div>
        <form (ngSubmit)="onSubmit()">
          <div>
            <input
              [(ngModel)]="login.username"
              name="user"
              pInputText
              type="text"
              placeholder="Tên đăng nhập"
              class="w-full md:w-96 text-lg mb-6 px-4 py-2 rounded-lg"
            />
            <p-password
              [(ngModel)]="login.password"
              name="password"
              placeholder="Mật khẩu"
              [fluid]="true"
              [toggleMask]="true"
              [feedback]="false"
              styleClass="mb-2"
              class="w-full md:w-96 rounded-lg"
            ></p-password>
            @if (message) {
              <div class="text-red-500">{{ message }}</div>
            }
            <p-button label="Đăng nhập" type="submit" styleClass="w-full mt-4 md:w-96"></p-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
