<div class="flex justify-center">
  <p-dialog header="THAY ĐỔI MẬT KHẨU" [modal]="true" [(visible)]="visible" [style]="{ width: '32rem' }"
            (onHide)="hideDialog()">
    @if (loading) {
      <div class="absolute inset-0 bg-black/30 flex items-center justify-center z-50 rounded">
        <p-progressSpinner></p-progressSpinner>
      </div>
    }

    <span class="p-text-secondary block mb-6">Nhập thông tin để đổi mật khẩu.</span>

    <div class="mb-4">
      <div class="flex items-center">
        <label for="oldPassword" class="font-semibold w-36">Mật khẩu cũ</label>
        <p-password class="flex-auto" inputId="oldPassword"
                    [(ngModel)]="changePassword.oldPassword"
                    [feedback]="false" [toggleMask]="true" fluid />
      </div>

      @if (submitted && !changePassword.oldPassword) {
        <small class="text-red-500 ml-36 block mt-1">Mật khẩu cũ là bắt buộc.</small>
      }
    </div>

    <div class="mb-4">
      <div class="flex items-center">
        <label for="newPassword" class="font-semibold w-36">Mật khẩu mới</label>
        <p-password class="flex-auto" inputId="newPassword"
                    [(ngModel)]="changePassword.newPassword"
                    [feedback]="false" [toggleMask]="true" fluid />
      </div>

      @if (submitted && !changePassword.newPassword) {
        <small class="text-red-500 ml-36 block mt-1">Mật khẩu mới là bắt buộc.</small>
      }
    </div>

    <div class="mb-8">
      <div class="flex items-center">
        <label for="confirmPassword" class="font-semibold w-36">Xác nhận mật khẩu</label>
        <p-password class="flex-auto" inputId="confirmPassword"
                    [(ngModel)]="changePassword.confirmPassword"
                    [feedback]="false" [toggleMask]="true" fluid />
      </div>

      @if (submitted && !changePassword.confirmPassword) {
        <small class="text-red-500 ml-36 block mt-1">Xác nhận mật khẩu là bắt buộc.</small>
      }
      @if (submitted && changePassword.confirmPassword && changePassword.newPassword !== changePassword.confirmPassword) {
        <small class="text-red-500 ml-36 block mt-1">Mật khẩu và mật khẩu xác nhận không khớp.</small>
      }
    </div>

    <div class="flex justify-end gap-2">
      <p-button label="Đóng" severity="secondary" (click)="hideDialog()" />
      <p-button label="Lưu" (click)="onChangePassword()" />
    </div>
  </p-dialog>
</div>

<p-toast class="" styleClass="mt-12 custom-toast"/>
