<div class="flex justify-center">
  <p-dialog header="THAY ĐỔI MẬT KHẨU" [modal]="true" [(visible)]="visible" [style]="{ width: '32rem' }"
            (onHide)="hideDialog()">
    <span class="p-text-secondary block mb-6">Nhập thông tin để đổi mật khẩu.</span>
    <div class="flex items-center gap-4 mb-4">
      <label for="oldPassword" class="font-semibold w-36">Mật khẩu cũ</label>
      <p-password class="flex-auto" inputId="oldPassword" [(ngModel)]="changePassword.oldPassword" [feedback]="false"
                  [toggleMask]="true" fluid/>
    </div>
    @if (submitted && !changePassword.oldPassword) {
      <small class="text-red-500">Xác nhận mật khẩu là bắt buộc.</small>
    }
    <div class="flex items-center gap-4 mb-4">
      <label for="newPassword" class="font-semibold w-36">Mật khẩu mới</label>
      <p-password class="flex-auto" inputId="newPassword" [(ngModel)]="changePassword.newPassword" [feedback]="false"
                  [toggleMask]="true" fluid/>
    </div>
    @if (submitted && !changePassword.newPassword) {
      <small class="text-red-500">Xác nhận mật khẩu là bắt buộc.</small>
    }
    <div class="flex items-center gap-4 mb-8">
      <label for="confirmPassword" class="font-semibold w-36">Xác nhận mật khẩu</label>
      <p-password class="flex-auto" inputId="confirmPassword" [(ngModel)]="changePassword.confirmPassword" [feedback]="false"
                  [toggleMask]="true" fluid/>
    </div>
    @if (submitted && !changePassword.confirmPassword) {
      <small class="text-red-500">Xác nhận mật khẩu là bắt buộc.</small>
    }
    <div class="flex justify-end gap-2">
      <p-button label="Đóng" severity="secondary" (click)="hideDialog()"/>
      <p-button label="Lưu" (click)="onChangePassword()"/>
    </div>
  </p-dialog>
</div>
