@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-toast .p-toast-message-content {
    @apply items-center;
  }

  .custom-toast .p-toast-message-text {
    @apply flex-row items-center;
  }
}
